/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #f2b138 #59507b;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #59507b;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #f2b138;
    border-radius: 20px;
    border: 3px solid #59507b;
  }